@naturalint-ui:registry=https://registry.npmjs.org/
@naturalint-types:registry=https://registry.npmjs.org/
@naturalint:registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=8ab59ff2-48bf-4894-a9cb-aac087541ca8

FirstName LastName (shahar.shelly@naturalint.com, shahar.shelly@naturalint.com)
registry=http://nexus-npm.naturalint.com/repository/npm-local/ 
_auth=cHVibGlzaGVyOmRuNDlza2Ex
email=publisher@naturalint.com
always-auth=true
package-lock=false  